<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

  <div class="container mt-3">
    <table class="table table-striped table-hover table-bordered">
      <thead class="text-center">
        <tr>
          <th style="width: 40%;"> LIVRO </th>
          <th> VALOR ORIGINAL </th>
          <th> DATA INICIAL </th>
          <th> MELHOR VALOR </th>
          <th> DATA M. V. </th>
          <th> PERCENTUAL </th>
          <th> ÚLTIMO VALOR </th>
          <th> ÚLTIMA DATA </th>
          <th> % ATUAL </th>
        </tr>
      </thead>
      <tbody>
        <% if(orderedList.length) { %>
          <% for(let book of orderedList) { %>
            <% if(Number(updatedList[book].percentage) > 40) { %>
              <tr class="table-success">
            <% } else if (Number(updatedList[book].percentage) > 30) { %>
              <tr class="table-primary">
            <% } else if (Number(updatedList[book].percentage)> 20) { %>
              <tr class="table-warning">
            <% } else { %>
              <tr>
            <% } %>
              <% for(let item in updatedList[book]) { %>
                <% if(item=='title' ) { %>
                  <td>
                    <%= updatedList[book][item] %>
                  </td>
                <% } else { %>
                  <td class="text-center">
                    <%= updatedList[book][item] %>
                  </td>
                <% } %>
              <% } %>
            </tr>
           <% } %>
        <% } else { %>

          <% for(let book in updatedList) { %>
            <tr>
              <% for(let item in updatedList[book]) { %>
                <% if(item=='title' ) { %>
                  <td>
                    <%= updatedList[book][item] %>
                  </td>
                <% } else { %>
                  <td class="text-center">
                    <%= updatedList[book][item] %>
                  </td>
                <% } %>
              <% } %>
            </tr>
          <% } %>
        <% } %>

      </tbody>
    </table>

    <p class="text-end fs-5"> Total de livros: <%= Object.keys(updatedList).length %>
    </p>

  </div>

  <%- include('partials/footer.ejs') %>